* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 15px;
  background: #f6f5f5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
}

a {
  color: #448CCB;
  text-decoration: none;
}

#app {
  width: 100%;
  max-width: 500px;
  paddin: 0;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: white;
  margin: 0 auto;
}

.todoheader {
  text-align: center;
  border-bottom: 1px dashed #d2d0d0;
}

  .todoheader h1 {
    line-height: 120px;
    font-weight: 700;
    margin: 0;
  }

.todofooter {
  border-top: 1px dashed #d2d0d0;
  padding: 20px;
  font-size: .8em;
  color: #999;
}
  .todofooter__completeall {
    float: right;
  }

.todo {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}
  .todo--completed {
    text-decoration: line-through;
    color: #999;
  }
  .todo:nth-child(odd) {
    background: #F4F7FA;
  }
  .todo__checkbox {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    height: 19px;
    width: 19px;
    background: url('/static/images/unchecked.png') center no-repeat;
    background-size: contain;
    position: relative;
  }
    .todo__checkbox:checked {
      background: url('/static/images/checked.png') center no-repeat;
    }
    .todo__checkbox:focus {
      outline: none;
    }
  .todo__reorder {
    display: inline-block;
    width: 10px;
    height: 1.3em;
    background: url('/static/images/drag_handle.png') center no-repeat;
    opacity: 0;
    float: right;
    transition: all .1s ease;
  }
    .todo:hover .todo__reorder {
      opacity: 1;
    }

form {
  padding: 20px;
}

input:not([type="checkbox"]),
button {
  border: 0;
  border-radius: 5px;
  padding: 8px 10px;
  color: #646363;
  font-size: .9em;
}

input[type="text"] {
  border: 1px solid #b7b6b6;
  width: calc(66.6666666% - 10px);
  margin-right: 10px;
}

button {
  border: 1px solid #999;
  width: 33.3333333%;
  background: #ebeae9;
  background: linear-gradient(to bottom,  #ebeae9 3%,#ebeae9 49%,#d8d7d6 54%,#d8d7d6 98%);
}

@media screen and (min-width: 768px) {
  #app {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 100%;
    overflow: auto;
  }
}
