<!DOCTYPE html>
<head>
  <title>Todo</title>
  <!-- dependencies! -->
  <script src="/static/components/react/react.js"></script>
  <script src="/static/components/react/JSXTransformer.js"></script>
  <script src="/static/components/underscore/underscore.js"></script>
  <!-- :(, I know. But it simplyfies ajax calls! -->
  <script src="/static/components/jquery/dist/jquery.min.js"></script>
  <!-- avoid reeinventing the wheel, no matter how fun it is! -->
  <script src="/static/components/react-sortable/src/Sortable.js"></script>

  <!-- the app! -->
  <script type="text/jsx" src="/static/javascript/todo_app.js"></script>
  <script type="text/jsx" src="/static/javascript/todo_form.js"></script>
  <script type="text/jsx" src="/static/javascript/todo_list.js"></script>
  <script type="text/jsx" src="/static/javascript/todo.js"></script>

  <!-- styles! -->
  <link rel="stylesheet" type="text/css" href="/static/components/normalize.css/normalize.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet/style.css">

  <!-- meta! -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</body>
